<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/T.css' %}">
    <title>Teacher</title>
</head>
<body>
    <h1>{{thr}}</h1>
    {% if thr %}
    <table>
        <tr>
            <th>id</th>
            <th>T_Name</th>
            <th>T_Email</th>
        </tr>
        {% for  th in thr %}
        <tr>
            <td>{{th.id}}</td>
            <td>{{th.T_Name}}</td>
            <td>{{th.T_Email}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>Empty DB</h2>
    {% endif %}
</body>
</html>