form{
    border: 5px solid blue;
}
label{
    font-size: 25px;
    color: rgb(203, 162, 162);
    
}
input{
    height: 20px;
    width: 200px;
    background-color: aqua;
    font-weight: 800;
}
#id_textarea{
    background-color: brown;
}