<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raginstration From</title>
</head>
<body bgcolor="tomato">
    <h2 style="text-align: center;">Registyration From</h2>
    <form action="" style="text-align: center;">
        First Name: <input type="text" name="firstName" id=""><br><br>
        Last Name: <input type="text" name="lastName" id=""><br><br>
        Password: <input type="password" name="upass" id=""><br><br>
        Email: <input type="email" name="" id=""><br><br>
        Countray: <select>
            <option>
                Bangladesh
            </option>
            <option>
                indea
            </option>
            <option>
                pakistan
            </option>
            <option>
                US
            </option>
            <option>
                Amerika
            </option>
            <option>
                sudint
            </option>

        </select><br><br>
        <input type="submit" value="submit">

        
    </form>
</body>
</html>