<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/k.css' %}">
    <title>knn</title>
</head>
<body>
    <table width="500" border="2" align="center">
        <tr class="hiden">
            <th>Teachar's naem</th>
            <th>Course</th>
            <th>Class</th>
            <th>Druration</th>
        </tr>
        <tr class="shawon">
            <td>SHAWON</td>
            <td>python</td>
            <td>21</td>
            <td>2.5</td>
        </tr>
        <tr class="shakib">
            <td>SHAKIB</td>
            <td>java</td>
            <td>20</td>
            <td>3</td>
        </tr>
        <tr class="shila">
            <td>SHILA</td>
            <td>python</td>
            <td>21</td>
            <td>2.5</td>
        </tr>
    </table>
    <table class="table" border="2">
        <tr>
            <th>SL</th>
            <th>Name</th>
            <th>Roll</th>
            <th>dob</th>
        </tr>
        <tr>
            <td>1</td>
            <td>SHAWON</td>
            <td>12</td>
            <td>05-01-2006</td>
        </tr>
        <tr>
            <td>2</td>
            <td>SHILA</td>
            <td>15</td>
            <td>20-06-2006</td>
        </tr>
        <tr>
            <td>3</td>
            <td>SHAKIB</td>
            <td>10</td>
            <td>05-01-2006</td>
        </tr>
    </table>
</body>
</html>